body {
  background-color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#survey-form {
  background-color: #fff;
  max-width: 650px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 90%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]{
  display: inline-block;
  width: auto;
}

button {
  background-color: #05c46b;
  color: #fff;
  border: 1px solid #777;
  border-radius: 12px;
  font-family: inherit;
  font-size: 16px;
  width: 30%;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

button:hover {
  background-color: #f3f3f3;
}
